* {
    box-sizing: border-box;
}

* h1,h2,h3 {
    color:#4aa96c;
}


header{
    background-color:  #126e82;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: fill;
    margin-left: 0;
    margin-bottom: 8%;
    margin-right:0 
}

header h1 {
    
    font-family: 'Limelight', cursive;
    font-size: 50px;
    text-align: left;
    
    
    
}

header nav {
    
    position: relative;
    justify-content: space-between ;
}

header nav ul {
    
    position: absolute;
    right: 3%;
    bottom: 15%;
    margin-top: 50px; 
    
    
}

header nav ul li{
    
    display: inline;
    list-style-type: none;
    word-spacing: 15px;
    padding: 10px;
    
}

header nav ul li a{
    
    text-decoration: none;
    color: #d8e3e7;
    font-size: x-large;
    font-weight: bold;
    
    
}

header img {
    display: block;
    width: 150px;
    height:60px;
    position: absolute;
    top: 20px;
}

body {
    text-align: center;
    background-color: #d8e3e7;
    border: 10px solid #126e82;
}

main p { 
   color: #ce1212;
   font-family: 'Abel', sans-serif;
   font-weight: bold;
   font-size: large;
}

main h3{
    
    text-align: center;
    font-size: 35px;
    font-family: 'Limelight', cursive;
}

#locations{
    font-family: 'Limelight', cursive; font-size: medium;
}


#useless{
    margin-top: 100px;
    margin-bottom: 100px;
}

#useless img{
    width: 15%;
    height: auto;
}

footer {
    padding: 30px;
    margin-top: 35px;
    background-color:#126e82 ;
    color: #d8e3e7;
    text-align: left;
    font-size: larger;
    font-weight: bolder;
}



